{% extends "base_page.html" %}

{% block page-title %}
Добавить новое предложение
{% endblock %}

{% block page-lead %}
После заполнения всех полей, не забудьте нажать на кнопку  &laquo;Отправить&raquo;.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="example-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Ваше предложение</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_example">Предложение</label>
                <input type="text" class="form-control input-lg" name="new_example" id="new_example">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Перевод</label>
                <textarea type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Постарайтесь уложиться в 10 слов</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-example">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
