{% extends "base_page.html" %}

{% block page-title %}
Изучение немецкого языка
{% endblock %}

{% block page-lead %}
Сайт для изучения немецкого языка 
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Содержание сайта</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <!-- Первая пара вкладок -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список слов</h3>
                <p>Словарь новых слов на немецком языке</p>
                <a href="/terms-list" class="btn btn-custom">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Примеры предложений</h3>
                <p>Предложения, составленные с использованием новой лексики</p>
                <a href="/examples-list" class="btn btn-custom">Посмотреть</a>
            </div>
        </div>

        <!-- Вторая пара вкладок -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для ввода новых слов</h3>
                <p>Здесь можно добавить новое слово, которое Вы хотите выучить</p>
                <a href="/add-term" class="btn btn-custom">Заполнить</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для ввода предложений</h3>
                <p>Здесь можно добавить новое предложение, которое Вы хотите выучить</p>
                <a href="/add-example" class="btn btn-custom">Заполнить</a>
            </div>
        </div>

        <!-- Последняя вкладка -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Количество слов, представленных на данном сайте</p>
                <a href="/stats" class="btn btn-custom">Посмотреть</a>
            </div>
        </div>

    </div>
</div>

<style>
    .btn-custom {
        background-color: yellow; /* Желтый фон */
        color: black; /* Черный текст */
        border: none; /* Убираем границу */
    }
    .btn-custom:hover {
        background-color: #e6e600; /* Немного темнее при наведении */
    }
